*.ply
*.pcd
__pycache__/
*/__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*/*.pyc
**/*.pyc
**/*.pyo
**/*.pyd
PointCloud/__pycache__/*
*.so
.Python
**/node_modules/
*/node_modules/*
UserInterface/assets/temp/xy.jpg
**/temp/*
