numpy
opencv-python-headless
pyyaml
open3d
matplotlib
scikit-learn
scipy
robpy
py_cylinder_fitting
scikit-spatial
fastapi
uvicorn

typst  
PyQt5
pytest
pymysql
dotenv
bcrypt
PyJWT==2.8.0
python-multipart
mysql-connector-python
onnx 
onnxruntime